---
import { getCollection } from "astro:content"
import PostPreview from "../../components/PostPreview.astro"
import { sortPostsByDate } from "../../lib/date"
import Base from "../../layouts/Base.astro"

const posts = sortPostsByDate(await getCollection("blog", ({ data }) => data.isDraft !== true))

const title = "nexxel • blog"
---

<Base
  {title}
  description="Writings on programming and technology."
  image={`https://og.nxl.sh/home/?title=${title}`}
>
  <main class="prose">
    <h1>Blog</h1>

    <div class="my-8" />

    <div class="flex flex-col gap-16">
      {posts.map(post => <PostPreview {post} />)}
    </div>
  </main>
</Base>
