---
import { getCollection } from "astro:content"
import PostPreview from "../../components/PostPreview.astro"
import Base from "../../layouts/Base.astro"
import { sortPostsByDate } from "../../lib/date"

const posts = sortPostsByDate(await getCollection("blog", ({ data }) => data.isDraft !== true))

const title = "Ben Margolius • Blog"
---

<Base
  {title}
  description="Writings on programming and technology."
  image={`https://embed-image.vercel.app/api/blog/?title=${title}&top=Check%20out%20my%20blog!`}
>
  <main class="prose">
    <h1>My Blog</h1>

    <div class="my-8" />

    <div class="flex flex-col gap-12">
      {posts.map(post => <PostPreview {post} />)}
    </div>
  </main>
</Base>
