@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GTWalsheimRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Bold";
  src: url("/fonts/GTWalsheimBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "GT Walsheim", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  @apply antialiased bg-neutral-900 text-slate-100;
}

.bold-text {
  font-family: "GT Walsheim Bold", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

@import url("mdx.css");

@layer components {
  .prose .anchor {
    @apply relative visible;
    padding-right: 0.3em;
    cursor: pointer;
  }
  .anchor:hover {
    @apply invisible no-underline;
  }

  .prose .icon-link:after {
    @apply pr-2 opacity-80 text-t-purple;
    content: "#";
  }

  .prose *:hover > .icon-link:after {
    @apply transition-opacity opacity-100;
  }

  .prose *:hover > .icon-link {
    @apply visible no-underline;
  }

  .prose :where(pre):not(:where([class~="not-prose"] *)) {
    white-space: pre-wrap !important;
    overflow-wrap: normal;
    width: 100%;
    border-radius: 0;
    overflow-x: scroll;
    @apply !mt-0 rounded-b-lg border border-t-pink border-opacity-30 bg-[#1C1C1C];
  }

  .prose :where(a):not(:where([class~="not-prose"] *)) {
    color: unset;
    text-decoration: none;
  }

  .prose :where(pre):not(:where([class~="not-prose"] *)) {
    @apply px-3 py-1;
  }

  .prose .anchor {
    text-decoration: none;
  }

  .prose :not(pre) > code {
    @apply p-1 text-sm font-normal border rounded bg-zinc-900 border-zinc-800 text-neutral-300;
    font-family: "JetBrains Mono";
  }

  .prose :not(pre) > code::after,
  .prose :not(pre) > code::before {
    content: none;
  }
  /* 
  .prose :not(pre) > code::before {
    content: none;
  } */
}
