/* @font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Variable Fallback";
  src: local("Arial");
  font-weight: 300 900;
  font-style: normal;
  ascent-override: 92.36%;
  descent-override: 21.95%;
  line-gap-override: 9.14%;
  size-adjust: 109.35%;
} */

@font-face {
  font-family: "Hack";
  src: url("/fonts/hack-regular-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  color-scheme: dark;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  --at-apply: "font-sans m-auto p-5 max-w-65ch text-left bg-neutral-900 break-words leading-6 text-neutral-300 antialiased";
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  word-wrap: break-word;
  width: 100%;
  /* font-family: "Satoshi", "Satoshi-Variable Fallback",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
}

h1 {
  --at-apply: "font-black text-4xl text-neutral-100";
}

h2 {
  --at-apply: "font-extrabold text-2xl text-neutral-100";
}

h3 {
  --at-apply: "font-bold text-xl text-neutral-100";
}

.faq h3 {
  --at-apply: "pb-1";
}

p {
  --at-apply: "text-neutral-300 text-lg";
}

b {
  --at-apply: "font-medium text-neutral-100";
}

a {
  --at-apply: "text-vitesseGreen hover:underline underline-offset-2";
}

article a {
  --at-apply: "text-neutral-100 font-medium underline underline-offset-2";
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  --at-apply: "max-w-full h-auto my-8 rounded-xl border border-neutral-800";
}

code {
  --at-apply: "font-hack text-sm bg-themeBlack p-2.5px rounded border border-neutral-800 text-neutral-100";
}

pre {
  --at-apply: "font-hack rounded-xl border border-neutral-800 p-4 my-8 text-sm scrollbar scrollbar-w-8px scrollbar-h-8px scrollbar-thumb-color-neutral-700 scrollbar-track-color-neutral-600 scrollbar-rounded  overflow-y-auto";
}

pre > code {
  --at-apply: "font-hack";
  all: unset;
}

blockquote {
  --at-apply: "rounded-xl bg-themeBlack border border-neutral-700 p-4";
}

ul {
  --at-apply: "ml-5";
}

ul > li {
  --at-apply: "list-disc text-lg";
}

ul > li::marker {
  --at-apply: "text-neutral-500";
}
