@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

.prose a:not(.anchor) {
  @apply decoration-neutral-400 decoration-[0.1em] underline-offset-2 dark:decoration-neutral-600;
}

.prose a.anchor {
  @apply relative no-underline;
}

.prose a.anchor::before {
  @apply absolute -left-4 opacity-0 transition-opacity duration-200 content-['#'];
}

.prose a.anchor:hover::before {
  @apply opacity-100;
}

.prose pre {
  @apply overflow-x-auto rounded-lg border border-neutral-200 bg-neutral-50 dark:border-neutral-900 dark:bg-neutral-900;
}

.prose pre::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.prose pre::-webkit-scrollbar-track {
  background: #707070;
  border-radius: 10px;
}

.prose pre::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 10px;
}

.prose pre::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

.prose code {
  @apply rounded-lg px-1 py-0.5;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code:not(pre code)::before,
.prose code:not(pre code)::after {
  content: none;
}

.prose code span {
  @apply font-medium;
}

code {
  background-color: #272727;
  padding: 2px 4px;
  border-radius: 4px;
  border: 0.5px solid #363636;
  font-size: 0.95em;
  position: relative;
}

code::before,
code::after {
  content: '';
  position: absolute;
  color: transparent;
}

.alert-warning {
  padding: 10px;
  background-color: #111111;
  color: #d4d4d4;
  border: 1px solid #3f3f3f; 
  margin-bottom: 20px;
  border-radius: 4px;
}