@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi Bold"), local("Satoshi-Bold"),
    url("/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi Medium"), local("Satoshi-Medium"),
    url("/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi Regular"), local("Satoshi-Regular"),
    url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hack";
  src: url("fonts/hack-regular-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  @apply font-satoshi m-auto p-5 max-w-[65ch] text-left bg-neutral-900 break-words leading-6 text-neutral-100 antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

h1 {
  @apply font-black text-4xl;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-medium text-xl;
}

p {
  @apply text-neutral-200;
}

b {
  @apply font-medium text-neutral-100;
}

a {
  @apply text-pink-300 hover:underline underline-offset-[3px];
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  @apply font-hack text-sm bg-neutral-800 px-1 py-0.5 rounded border-neutral-500;
}

pre {
  @apply font-hack rounded-xl border border-pink-200;
  padding: 1rem;
}

pre > code {
  @apply font-hack;
  all: unset;
}

blockquote {
  @apply rounded-xl bg-pink-600 p-4;
}
