@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

.prose a:not(.anchor) {
  @apply decoration-neutral-400 decoration-[0.1em] underline-offset-2 dark:decoration-neutral-600;
}

.prose a.anchor {
  @apply relative no-underline;
}

.prose a.anchor::before {
  @apply absolute -left-4 opacity-0 transition-opacity duration-200 content-['#'];
}

.prose a.anchor:hover::before {
  @apply opacity-100;
}

.prose pre {
  @apply overflow-x-auto rounded-lg border border-neutral-200 bg-neutral-50 dark:border-neutral-900 dark:bg-neutral-900;
}

.prose code {
  @apply rounded-lg px-1 py-0.5;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}
