@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMonoRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

pre .highlight-static-word {
  @apply !bg-indigo-500 bg-opacity-50  transition;
}

pre .highlight-word {
  @apply !bg-indigo-500 bg-opacity-0  transition;
}

pre .highlight-word:hover {
  @apply !bg-red-500 bg-opacity-0;
}

pre .highlight-word.on {
  @apply !bg-red-500 bg-opacity-40 transition;
}

/* pre.focus_out .highlight-line *, pre.focus_out .highlight-line  {
  color: rgba(255, 255, 255, 0.1);
  @apply transition duration-200;
  
} */

/* pre.focus_out .highlight-line .highlight-word.on, pre.focus_out .highlight-line .highlight-word.on *  {
  @apply transition bg-opacity-0 text-primary-400;
} */

.highlight-line[data-highlighted="true"] {
  @apply block px-1.5 transition bg-teal-400 border-l-4 border-teal-400 bg-opacity-10;
}

.highlight-line[data-highlighted="false"] {
  @apply ml-2.5;
}

.highlight-line {
  @apply relative;
}

/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2e3440;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636f88;
}

.token.punctuation {
  color: #81a1c1;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #81a1c1;
}

.token.number {
  color: #b48ead;
}

.token.boolean {
  color: #81a1c1;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a3be8c;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #81a1c1;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #88c0d0;
}

.token.keyword {
  color: #81a1c1;
}

.token.regex,
.token.important {
  color: #ebcb8b;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[data-show-numbers="true"] .highlight-line:before {
  @apply relative pr-3 text-gray-600;
  content: attr(data-line);
  position: "absolute";
  left: 0;
  top: 0;
}

div.rehype-code-title + pre {
  font-family: "JetBrains Mono";
  @apply text-sm px-3 pt-1 py-1.5 md:text-lg md:py-2.5 border rounded-t-none bg-[#1C1C1C]  border-t-pink border-opacity-30;
}

div.rehype-code-title {
  font-family: "JetBrains Mono";
  @apply text-sm px-3 pt-1 border-t border-r border-l rounded-t-lg bg-[#1C1C1C]  text-gray-300 border-r-t-pink border-l-t-pink border-t-t-pink border-opacity-30;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  padding: 0.5em !important;
}

blockquote {
  @apply py-0.5 rounded-md bg-t-orange border-none;
}

blockquote p::before {
  content: none !important;
}

blockquote p {
  @apply text-neutral-900 text-lg;
  font-style: normal;
  border-left: none;
}
