---

import Base from "../../layouts/Base.astro";

// const projects = await getProjects(6)

const title = "Ben Margolius • Resume";
---

<Base
  {title}
  description="Personal website and blog of Ben Margolius"
  image="https://og.nxl.sh/home"
>
  <h1 slot="header-content" class="text-neutral-500">
    Ben Margolius
  </h1>

  <main class="prose">
    <p>
      Hi I’m Ben Margolius, a Seattle-based Full Stack developer working primarily with React, Next.js and Typescript.
      <br />
      <br />
      I'm passionate about creating beautiful solutions that solve real problems for users. That means I don't just start and stop my day in VSCode. I go out, talk to users, think outside-the-box, and come up with a game plan that solves the problem, with strong opinions loosely held, even if that doesn't involve a single line of code.
    </p>

    <div class="my-4">Technologies I enjoy working with:</div>

    <div>
      <ul class="pl-4">
        <li>• Typescript</li>
        <li>• TailwindCSS</li>
        <li>• Prisma/Drizzle</li>
        <li>• tRPC</li>
        <li>• React Query</li>
        <li>• Supermaven</li>
        <li>• SaaS: Vercel, Upstash, Supabase, Clerk, Sentry</li>
        <li>• Next.js</li>
      </ul>
      <div class="mt-4">
      <a href="https://linkedIn.com/in/benmarg">LinkedIn</a> | <a href="https://github.com/benmarg">GitHub</a> | <a href="mailto:Benjaminmargolius@gmail.com">Benjaminmargolius@gmail.com</a>
      </div>
    </div>
    

    </div>
  </main>
</Base>
