---
import Base from "../layouts/Base.astro";
---

<Base title="404" description="404 Page Not Found">
  <div class="h-[calc(100vh-100px)] flex flex-col items-center justify-center text-center">
    <h1 class="text-5xl font-black">404</h1>
    <p class="text-4xl font-extrabold">Page not found</p>
  </div>
</Base>
