---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../config";
import type { Post } from "../types";
import { BlogPosts } from "../components/BlogPosts";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob<Post>("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} blog`}
      description="Writings on programming and tech"
    />
  </head>
  <body>
    <Header />
    <main>
      <h1 class="pb-6">Blog</h1>

      <BlogPosts posts={posts} client:load />
    </main>
    <Footer />
  </body>
</html>
