---
import Base from "../layouts/Base.astro";
import Paragraph from "../components/Paragraph.vue";
---

<Base title="hi" description="bye">
	<h1>nexxel</h1>
	<Paragraph>
		Hello, world!

		<a href="https://nexxel.dev">home</a>
	</Paragraph>	
</Base>
