---
import { getCollection } from "astro:content"
import { sortPostsByDate } from "../lib/date"
import Link from "../components/Link.vue"
import Base from "../layouts/Base.astro"
import Project from "../components/Project.astro"
import PostRow from "../components/PostRow.astro"
import { getProjects } from "../lib/projects"

const projects = await getProjects(6)
const posts = sortPostsByDate(await getCollection("blog", ({ data }) => data.isDraft !== true))
  .slice(0, 4)
---

<Base title="nexxel • home" description="Personal website and blog of Shoubhit Dash aka nexxel.">
  <h1 slot="header-content" class="text-neutral-600 dark:text-neutral-500">
    nexxel
  </h1>

   <main class="prose">
      <p>
        <small class="text-neutral-600 dark:text-neutral-500"
          >IPA &nbsp; /ˈnɛks ɛl/ — no meaning, i made it up</small
        >
        <br />

        Hi there, I'm <strong>Shoubhit</strong> aka <strong>nexxel</strong>. I'm 17 y/o and going to university soon. I like <strong>shuffling cards</strong> and <strong>building things</strong>. I enjoy <strong>language design</strong>, <strong>web development</strong> and I live on the <strong>terminal</strong>.
      </p>

      <p>
        Right now I'm building an <strong>analytics</strong> service, learning <strong>OCaml</strong>, writing <strong>blog</strong> posts and going to the <strong>gym</strong> regularly.
      </p>

      <div class="mt-12" />
      <h2>Projects</h2>

      <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
        {projects.map(project => <Project {project} />)}
      </div>

      <div class="mt-12" />
      <h2>Blog</h2>

      <div class="flex flex-col gap-5">
        {posts.map(post => <PostRow {post} />)}

        <span>
          <Link href="/blog">
            All posts →
          </Link>
        </span>
      </div>
  </main>
</Base>
