---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="text-lg">
      <h1 class="text-4xl pb-2">Hi, I'm nexxel</h1>
      <p>
        I'm a 17 y/o self-taught developer and I like to build cool stuff. I'm
        interested in <b>web development</b>,
        <b>serverless</b> tech and I live on the <b>terminal</b>.
      </p>
      <br />
      <p>
        I'm currently in 12th grade. In my free time I like to write <a
          href="/blog">blogs</a
        > and practice <a href="https://en.wikipedia.org/wiki/Cardistry"
          >cardistry</a
        >.
      </p>
    </main>
    <Footer />
  </body>
</html>
