---
import Base from "../layouts/Base.astro"
import Project from "../components/Project.astro"
import { getProjects } from "../lib/projects"

const projects = await getProjects(6)
---

<Base title="hi" description="bye">
  <h1 slot="header-content" class="text-neutral-600 dark:text-neutral-500">
    nexxel
  </h1>

   <main class="prose py-10">
      <p>
        <small class="text-neutral-600 dark:text-neutral-500"
          >IPA as /ˈnɛks ɛl/ — no meaning, i made it up</small
        >
        <br />

        Hi there, I'm <strong>Shoubhit</strong> aka <strong>nexxel</strong>. I'm 17 y/o and going to university soon. I like <strong>shuffling cards</strong> and <strong>building things</strong>. I enjoy <strong>language design</strong>, <strong>web development</strong> and I live on the <strong>terminal</strong>.
      </p>

      <p class="mt-6 max-w-prose overflow-x-hidden text-ellipsis line-height-7 [&:has(img)]:(mx-0 overflow-x-visible px-0) md:(max-w-screen min-w-prose) [&:has(a)]:(whitespace-nowrap)">
        Right now I'm building an <strong>analytics</strong> service, learning <strong>OCaml</strong>, writing <strong>blog</strong> posts and going to the <strong>gym</strong> regularly.
      </p>

      <h2 class="mt-12">Projects</h2>

      <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
        {projects.map(project => <Project {...project} />)}
      </div>
  </main>
</Base>

<style>
</style>
