---
import grainSvg from "./grain.svg"

type Props = {
  opacity: number
}

const { opacity } = Astro.props;
---

<div
  style={{ opacity, background: `url(${grainSvg})` }}
  class="pointer-events-none absolute inset-0 select-none mix-blend-difference"
>
</div>
