---
import Link from "./Link.vue";
---
<div class="prose">
  <hr />

  <footer class="flex justify-between">
    <span>Ben Margolius</span>

    <div class="flex gap-4">
      <Link href="mailto:benjaminmargolius@gmail.com">
        <div class="i-tabler:mail-filled" title="Email" />
      </Link>

      <Link href="https://github.com/benmarg">
        <div class="i-mdi:github" title="GitHub" />
      </Link>

      <Link href="https://www.linkedin.com/in/benmarg/">
        <div class="i-mdi:linkedin" title="Linkedin" />
      </Link>
    </div>
  </footer>
</div>
