---
import Link from "./Link.vue";
---
<div class="prose">
  <hr />

  <footer class="flex justify-between">
    <span>Shoubhit Dash</span>

    <div class="flex gap-4">
      <Link href="mailto:shoubhit2005@gmail.com">
        <div class="i-tabler:mail-filled" />
      </Link>

      <Link href="https://github.com/nexxeln">
        <div class="i-radix-icons:github-logo" />
      </Link>
    </div>
  </footer>
</div>
