---
import Link from "./Link.vue";
---
<div class="prose">
  <hr />

  <footer class="flex justify-between">
    <span>Shoubhit Dash</span>

    <div class="flex gap-4">
      <Link href="/rss.xml">
        <div class="i-mdi:rss" title="RSS" />
      </Link>

      <Link href="/sitemap-index.xml">
        <div class="i-mdi:sitemap" title="Sitemap" />
      </Link>

      <Link href="mailto:shoubhit2005@gmail.com">
        <div class="i-tabler:mail-filled" title="Email" />
      </Link>

      <Link href="https://github.com/nexxeln">
        <div class="i-mdi:github" title="GitHub" />
      </Link>

      <Link href="https://twitter.com/nexxeln">
        <div class="i-mdi:twitter" title="Twitter" />
      </Link>
    </div>
  </footer>
</div>
