---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import { EmailSelect } from "./EmailSelect";
---

<header>
  <h2 class="text-xl pb-1 flex items-center gap-3">
    <img
      src="/images/nexxel.webp"
      alt="nexxel's avatar"
      width={50}
      height={50}
      class="rounded-full"
    />
    {SITE_TITLE}
  </h2>
  <nav class="flex">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/faq">FAQ</HeaderLink>
    <HeaderLink href="https://github.com/nexxeln" target="_blank"
      >GitHub</HeaderLink
    >
    <EmailSelect client:visible />
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
