---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  rel="prefetch"
  class={`text-t-green underline-offset-[3px] ${
    isActive ? "font-bold underline" : ""
  }`}
  {...props}
>
  <slot />
</a>
