---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string;
}

const { href, ...props } = Astro.props;
---

{
  href.startsWith("/") ? (
    <a href={href} {...props}>
      <slot />
    </a>
  ) : (
    <a href={href} target="_blank" {...props}>
      <slot />
    </a>
  )
}
