---
---

<div class="flex gap-x-4 text-neutral-500 ">
    <a href="/blog" target="_self" class="hover:(underline underline-offset-4 transition-transform)">blog</a>
    <a href="/music" target="_self" class="hover:(underline underline-offset-4 transition-transform)">music</a>
</div>