---
import type { Project } from "../lib/projects"
import Link from "./Link.vue"

type Props = {
  project: Project
}

const { project: { repo: name, description, link } } = Astro.props
---

<div class="w-20.6666666666666666666666666666666666666666666666667ch flex flex-col">
  <Link href={link}>
    <span class="font-medium text-neutral-100">{name}</span>
  </Link>

  <span class="pt-3">{description}</span>
</div>
