---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    date: string;
    og?: string;
  };
}

const {
  content: { title, description, date, og },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <!-- <style>
      hr {
        border-top: 1px solid #ddd;
      }
    </style> -->
  </head>

  <body>
    <Header />
    <main>
      <article>
        <h1>{title}</h1>
        <div class="pt-4 flex gap-x-2 items-center text-neutral-300">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
            ></path>
          </svg>

          <time class="text-base">{date}</time>
        </div>
        <hr class="border-t border-t-neutral-700 my-8" />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
